.character {
  transition: all 2s;
}
.title{
  background-color: rgb(251 146 60);
}
.heading{
  background: linear-gradient(to right, #f32170,
  #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}